<div class="row">
  <div class="col-sm" *ngIf="showqr && sendresult">
    <ngx-qrcode [elementType]="elementType"
                [errorCorrectionLevel]="correctionLevel"
                [value]="myseed"
                Class="bshadow"></ngx-qrcode>

  </div>
  <div class="col-sm" *ngIf="showqr && sendresult">
    <label>Event number: </label><input id="eventnumber" [(ngModel)]="eventnumber" style="width:80%" readonly required />
  </div>
</div>

<div id="seedDiv">
  <div class="row mt-5">
    <div class="col-sm">
      <label>Event's Seed: </label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <input id="seedInput" [(ngModel)]="myseed" style="width:80%" readonly required />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm">
      <button (click)="getNewSeed()" [disabled]="seed" class="btn btn-primary">Get New Seed!</button>
      <i *ngIf="seedLoader == true" class="fas fa-spinner fa-spin"></i>
    </div>
    <div class="col-sm">
      <button (click)="publishMAM()" class="btn btn-primary">Publish Mam!</button>
    </div>
  </div>
</div>

<div id="nameDiv">
  <div class="row mt-4">
    <div class="col-sm">
      <label>Event's name:</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <input required [(ngModel)]="text_event" />
    </div>
  </div>
</div>

<div id="createBtn">
  <div class="mt-2">
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-primary" *ngIf="!showqr" [disabled]="!seed" (click)="onGenerate($event)">Create Event</button>
      </div>
    </div>
  </div>
</div>



<div id="Msg">
  <div class="row">
    <div class="col-sm mt-2">
      <label class="text-danger" *ngIf="!seed">You must create a seed before you can generate</label>
      <label class="text-primary" *ngIf="!sendresult && loadIcon">Your event is being created, Please wait.</label>
      <label class="text-success" *ngIf="sendresult">Your event has been created!</label>
      <div *ngIf="loadIcon" class="fa-3x">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
</div>
