.bshadow {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    opacity: .5;
}

#seedInput {
  pointer-events:none
}

#seedInput.ng-invalid {
  border-color:#dc3545;
  border-style: solid;
  border-radius: 3px;
  box-sizing: border-box;
}
