<p>{{eventname}}</p>
<p>{{eventsId}}</p>

<div class="col-sm">
  <ngx-qrcode [elementType]="elementType"
              [errorCorrectionLevel]="correctionLevel"
              [value]="eventsId"
              Class="bshadow"></ngx-qrcode>

</div>
