<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">

  <a class="navbar-brand">QR Generator</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="generate">Create a new event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="myevents">My events</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
      </li>
    </ul>
  </div>

</nav>
