<div *ngIf="!userInfo">
  <h1 class="d-flex justify-content-center mt-4">Welcome!</h1>
  <h3 class="d-flex justify-content-center mt-4">You must log in before you can use the generator!</h3>
</div>

<div *ngIf="userInfo">
  <h1 class="d-flex justify-content-center mt-4">Welcome back!</h1>
</div>
