<table class="table table-bordered mt-5" *ngIf="events">

  <tr>
    <th>
      Event Name:
    </th>
    <th>
      Event index:
    </th>
    <th>
      Event ID:
    </th>
    <th>
     Watch Event on IOTA
    </th>
    <th>
      The event is created at:
    </th>
  </tr>

  <ng-container *ngFor="let event of events">
    <tr>
      <td>
        {{event.name}}
      </td>
      <td>
        {{event.index}}
      </td>
      <td>
        <a [routerLink]="['/myevents', event.seed, event.name] ">Event</a>
        <br />Address : {{event.address}}
      </td>
      <td>
        <a href="https://explorer.iota.org/devnet/transaction/{{event.bundlehash}}">Explore!</a>
      </td>

      <td>
        {{event.createdon | date: "yyyy-MM-dd hh:mm:ss"}}
      </td>
    </tr>
  </ng-container>

</table>

<div *ngIf="!events">
  <h2>
    You have no events!
  </h2>
  <h4>
    If you would like to create one click <a routerLink="/generate">here</a>
  </h4>
</div>
